* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.text-story {
  font-size: 2rem;
  padding: 5rem 20rem;
}

.text-story p {
  margin-bottom: 3rem;
}
