@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  font-size: 1em;
}

/* hide scrollbars */
*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  background: #0caddc;
}

.logo-content {
  display: inline-block;
}

.logo-content .logo {
  display: inline-block;
  height: 1em;
}

.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30%;
}

.blend-text {
  display: block;
  font-size: 4em;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  position: absolute;
  bottom: -4.5rem;
  left: 0;
  right: 0;
}

#scene-intro {
  height: 100vh;
  background: #257708;
  position: relative;
}

#scene-intro .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #FFFFFF;
  font-size: 4em;
  font-weight: bold;
}

#scene-intro .content .logo-container {
  display: inline;
}

#scene-intro .content .logo-container .logo {
  display: inline;
  height: 1em;
}

#scene-tree {
  height: 100vh;
  position: relative;
}

#scene-tree .tree {
  position: absolute;
  top: 0;
  z-index: 100;
}

#scene-tree .apple, #scene-tree .apple-falling {
  position: absolute;
  width: 17%;
  top: 25%;
  left: 15%;
}

#scene-tree .apple-falling {
  display: none;
}

#scene-tree .banana {
  position: absolute;
  width: 25%;
  top: 25%;
  right: 20%;
}

#scene-apple-falling {
  height: 100vh;
  position: relative;
}

#scene-apple-falling .apple {
  position: absolute;
  width: 17%;
  top: 25%;
  left: 15%;
}

#scene-apple-falling .apple-phone {
  position: absolute;
  width: 17%;
  top: 25%;
  left: 15%;
  display: none;
}

#scene-apple-falling .phone-container {
  position: absolute;
  width: 36vh;
  height: 64vh;
  top: 50%;
  right: 10%;
  transform: translateX(-50%) translateY(-50%);
  background: #333;
  border-radius: 1rem;
  padding: 1rem;
}

#scene-tree-banana {
  height: 100vh;
  position: relative;
}

#scene-tree-banana .tree {
  position: absolute;
  top: 0;
  z-index: 100;
  display: none;
}

#scene-tree-banana .banana {
  position: absolute;
  width: 25%;
  top: 25%;
  right: 20%;
  display: none;
}

#scene-cherry {
  height: 100vh;
  position: relative;
}

#scene-cherry .grass {
  position: absolute;
  bottom: 0;
}

#scene-cherry .cherry {
  position: absolute;
  width: 25%;
  bottom: 20%;
  left: 15%;
}

#scene-cherry .cherry.no-hat {
  display: none;
}

#scene-cherry .banana {
  position: absolute;
  width: 25%;
  top: 25%;
  right: 20%;
  z-index: 1;
}

#scene-cherry .banana.hat {
  display: none;
}

#scene-cherry .apple {
  position: absolute;
  width: 17%;
  bottom: 8%;
  left: 15%;
}

#scene-end {
  height: 100vh;
  position: relative;
  background: #2ecc71;
}

#scene-end h2 {
  display: block;
  font-size: 4em;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 10%;
  right: 10%;
  transform: translateY(-50%);
}

#scene-end h2.end {
  opacity: 0;
}










.speach {
  background: #fff;
  border-radius: 1rem;
  display: inline-block;
  padding: .75em .5em;
  max-width: 80%;
  position: relative;
  display: none;
  opacity: 0;
}

.speach::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: .75em solid transparent;
  border-right: .75em solid #ffffff;
  border-top: .75em solid #ffffff;
  border-bottom: .75em solid transparent;
  left: -1em;
  top: .3em;
}

.speach.right{
  float: right;
}

.speach.right::before {
  border-left: .75em solid #ffffff;
  border-right: .75em solid transparent;
  border-top: .75em solid #ffffff;
  border-bottom: .75em solid transparent;
  left: unset;
  right: -1em;
}